.btn {
  border-radius: 50px;
  padding: 1rem 3rem;

  &.btn-outline-primary {
    border: 1px solid $btn-book;
    color: $font-primary;
  }

  &.btn-secondary {
    background-color: $btn-secondary;
    border: none;
    color: white;
  }

  &.btn-options {
    background-color: none;
    color: black;
    width: 100%;
    margin: 1rem 0;

    &.btn-active {
      background-color: white;
      color: black;
      box-shadow: 10px 10px 10px #eef0ed;
    }
  }

  &.addCart {
    background-color: #e2e2ea;
    padding: 0.6rem 1.3rem;
    font-size: 0.8rem;
  }
}
