.hero {
  width: 90%;
  margin: 0 auto;

  > .row {
    height: 100%;
    > .banner {
      width: 100%;
      height: 100%;
    }
    > .col-md {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .slogan .slogan-h1 {
        font-size: 5rem;
        font-weight: 800;

        @include media-breakpoint-up(xs) {
          font-size: 2rem;
        }
        @include media-breakpoint-up(md) {
          font-size: 3rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 5rem;
        }
      }
      > .slogan h2 {
        margin: 2rem 0;
        color: $font-sub;
        font-size: 1.2rem;
        line-height: 2;
      }
    }
  }
}
