.nav-links {
  a {
    padding: 0 1rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  > .book-now {
    border: 1px solid #fbdda7;
    border-radius: 50px;
    padding: 0.5rem 3rem;
  }
}
