@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Noto Serif", serif;
}

a,
a:hover,
a:focus,
a:active {
  color: $font-primary;
  text-decoration: none;
}
